{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="symbol" type="text" name="symbol" placeholder="Symbol" autocomplete="off" autofocus>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" type="text" name="shares" placeholder="Shares">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}