{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped table-secondary">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Price</th>
                <th scope="col">Shares</th>
                <th scope="col">Datetime</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction["symbol"] }}</td>
                    <td>{{ usd(transaction["price"]) }}</td>
                    <td>{{ transaction["shares"] }}</td>
                    <td>{{ transaction["datetime"] }}</td>
                    <td>{{ transaction["type"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}